.contact {
    margin-top: 100px;
    display: flex;
    justify-content: center;
     width: 100vw;
    color: $grey-dark;

    &__left {
        img {
            width: 100%;
            height: 600px;
            opacity: 0.5;
            position: relative;
            display: none;
            @include desktop {
                display: flex;
            }
        }
    }
    &__right {
          
        max-width: 500px;
        text-align: center;

        @include desktop {
        position: absolute;
        right: 10vw;
        }

        span {
            color: red;
            margin-top: 10px;
            display: block;
        }
        
        
        .contact__send {
            padding: 10px 30px;
            background-color: white;
            margin-top: 20px;
            padding: 13px 50px;
            border: 1px solid $grey-dark;
            font-size: 15px;
            background-color: transparent;
            @include desktop {
                float: right;
                margin-right: 30px;
            }
        }
        img {
            margin-top: 30px;
            margin-bottom: 50px;
        }
       
        h1 {
            font-size: 38px;
        }
        .contact__form {
            margin-left: 40px;
             p {
                color: #2E9E23;
                font-weight: bold;
                text-align: center;
                margin-bottom: 20px;
             }
             label {
                 font-weight: 700;
                 display: flex;
                 justify-content: flex-start;
             }
            textarea {
                margin-top: 30px;
                border-top: none;
                border-right: none;
                border-left: none;
                width: 400px;
                border-bottom: 1px solid $grey-dark;
                font-family: $font-base;
                background-color: transparent;

                &::placeholder {
                    font-size: 15px;
                    font-family: $font-base;
                    line-height: 20px;
                    color: #3C3C3C26;
                 }
            }
            .contact__inputs {
                 display: flex;
                 margin-bottom: 30px;
                 .contact__input {
                    margin-right: 40px;
                    Input {
                        &::placeholder {
                            font-size: 15px;
                            font-family: $font-base;
                            color: #3C3C3C26;
                         }
                    }
                }
            }
        }
    }
}
.contact__footer {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    p {
        margin: auto;
        font-weight: 400;
    }
    div {
        display: flex;
        margin-right: 70px;
    }
    img {
        margin-left: 20px;
    }
 }