.formStepOne {
   
    .btn {
            @include button;
            @include desktop {
                margin-top: 100px;
                // margin-left: 100px;

            }

        }
    &__form {
        padding-top: 50px;
         h4 {
            margin-bottom: 90px;
            font-size: 20px;
        }
        p {
            font-size: 30px;
            margin-bottom: 30px;
            font-weight: 700;

        }
    }

    
    &__checkbox {
        display: flex;
        align-content: center;
        

        p {
            font-size: 20px;
            font-weight: normal;
            margin-top: 7px;
            // margin-left: 20px;
        }
    }
}
input[type=radio] {
    margin-right: 20px;
    height: 30px;
    width: 30px;
    border: 1px solid $grey-dark;
    -webkit-appearance: none;

    &:checked {
        height: 30px;
        width: 30px;
        border: 1px solid $grey-dark;
        -webkit-appearance: none;
        background-color: #FAD648;
            
    }
}