.formStepTwo {
    padding: 30px 20px 20px 20px;

    .btn {
        @include button;
            margin-right: 20px;
            margin-top: 250px;
        
    }
 
    &__container {
        .formStepTwo__options {
        display: flex;
        align-content: center;
        position: relative;
         p {
            font-size: 20px;
            font-weight: lighter;
            margin-top: 10px;
            margin-right: 10px;
            font-weight: 400;
            }
        select {
            width: 170px;
            height: 40px;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
            font-size: 20px;
            padding-left: 20px;
            background-color: #EDEEE9;
         
            }
        img {
            width: 40px;
            height: 20px;
            position: absolute;
            top: 10px;
            left: 300px;
            }
        }   
       
        h4 {
            margin-bottom: 90px;
            font-size: 20px;

        }
        p {
            font-size: 30px;
            margin-bottom: 50px;
            font-weight: 700;

        }
    }
}
.error {
    @include error;
}