.formStepFour {
    padding: 30px 20px 20px 20px;

    &__form {
        .btn {
            @include button;
            margin-top: 100px;
            margin-right: 20px;
        }
        h4 {
            margin-bottom: 90px;
            font-size: 20px;
        }
        h1 {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 50px;
        }
        h2 {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 30px;
            }
        } 
        .formStepFour__column {
             margin-right: 20px;
            padding-bottom: 45px;

            }
    
        .formStepFour__option {
            display: flex;
            padding-bottom: 5px;
         h3 {
            font-size: 17px;
            width: 100px;
            }
        input {
            width: 220px;
            height: 30px;
            margin-left: 25px;
            background-color: transparent;
            border: 1px solid $grey-dark;
            }
        textarea {
            margin-left: 25px;
            width: 217px;
            background-color: transparent;
            border: 1px solid $grey-dark;
            resize: none;
            height: 100px;
            }
         }
         .formStepFour__options {

            @include desktop {
                display: flex;
            }
            h3 {
                font-size: 20px;
            }
        }
        .error {
            margin-bottom: 10px;
    }
}