.formThankYou {
    &__container {
        max-width: 550px;
        margin: auto;
        text-align: center;
        font-size: 30px;
        line-height: 35px;

        p {
            padding-top: 200px;
            margin-bottom: 20px;
        }
        img {
            padding-bottom: 200px;

        }
    }
}