.giveThings__steps {
    padding: 30px;
    margin: auto;
    max-width: 150px;
    color: $grey-dark;
    @include desktop {
        max-width: 700px;
        display: flex;
        justify-content: center;

        }
    .giveThings__step {
        border: 1px solid $grey-dark;
        width: 150px;
        height: 150px;
        margin-right: 10px;
        transform: rotate(45deg);
        margin-top: 10px;
        margin-bottom: 40px;
        @include desktop {
            width: 9vw;
            height: 9vw;
         }

        position: relative;
        span {
            transform: rotate(-45deg);
            position: absolute;
            top: 30%;
            right: 10%;
            font-size: 20px;
            text-align: center;
         
            }
             .step__number {
            top: 10%;
            right: 79%;
            font-size: 25px;
        }
    }
}

.giveThings__text {
    font-size: 30px;
    color: $grey-dark;
    margin-bottom: 30px;

}
.btn {
    @include button;
}
.thingsToGive {
    background-image: url('../assets/Background-Form.png');
    background-size: cover;

}