.header__menu {
    display: flex;
    justify-content: space-between;
    color: $grey;
    max-width: 100vw;
 
    &-right {
        max-width: 50%;
        text-align: center;
        margin-right: 100px;
        .header__text {
            font-size: 28px;
            color: $grey-dark;
         }
         img {
             margin-top: 30px;
             margin-bottom: 40px;
         }
    }
    .heroImage {
        max-width: 50%;
        height: 780px;
    }
    .menu__buttons {
        display: flex;
        margin-left: 80px;
        margin-top: 50px;

        button {
            border: 1px solid $grey;
            text-transform: uppercase;
            width: 190px;
            margin-left: 45px;
            padding: 12px;
            font-size: 26px;
            color: $grey;
            background-color: white;
        
        }
    }
}