.threeColumns {
    background-image: url('./3Columns\ Background.png');
    .home__columns {
        max-width: 1200px;
        margin: auto;
        padding: 80px;
        display: flex;
        justify-content: space-between;
        
        .home__column {
            width: 330px;
            text-align: center;
            h1 {
                font-size: 80px;
                margin-bottom: 20px;
                color: #5E5322;
                font-weight: lighter;
            }
            h2 {
                text-transform: uppercase;
                font-size: 18px;
                margin-bottom: 20px;
                margin-top: 15px;
                font-weight: 400;
            }
            p {
                font-family: $font-alt;
                font-size: 15px;
                font-weight: lighter;
                line-height: 25px;

            }
            
        }
    }
}
