.threeColumns {
    background-image: url('./3Columns\ Background.png');
    width: 100vw;
    display: flex;
    justify-content: space-around;
        padding-top: 80px;
        padding-bottom: 80px;

        .home__column {
            width: 25%;
            text-align: center;
            h1 {
                font-size: 70px;
                margin-bottom: 20px;
                color: #5E5322;
                font-weight: lighter;
                
            }
            h2 {
                text-transform: uppercase;
                font-size: 16px;
                margin-bottom: 20px;
                margin-top: 15px;
                font-weight: 400;
            }
            p {
                font-family: $font-alt;
                font-size: 15px;
                font-weight: lighter;
                line-height: 25px;

            }
            
        }
    }
